In [1]:
#Taux de chomage par département

In [83]:
import pandas as pd
import numpy as np
from cassandra.cluster import Cluster
from datetime import date
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
today = date.today()
# dd/mm/YY
date_ingestion = today.strftime("%Y-%m-%d")
print("date_ingestion =", date_ingestion)

date_ingestion = 2021-01-13

In [84]:
pd.__version__

'1.1.3'

In [85]:
datacol_char = "Code;Libelle;T1_2013;T2_2013;T3_2013;T4_2013;T1_2014;T2_2014;T3_2014;T4_2014;T1_2015;T2_2015;T3_2015;T4_2015;T1_2016;T2_2016;T3_2016;T4_2016;T1_2017;T2_2017;T3_2017;T4_2017;T1_2018;T2_2018;T3_2018;T4_2018;T1_2019;T2_2019;T3_2019;T4_2019;T1_2020;T2_2020;T3_2020"
data_columns = datacol_char.split(';')
print(data_columns)
print(len(data_columns))

['Code', 'Libelle', 'T1_2013', 'T2_2013', 'T3_2013', 'T4_2013', 'T1_2014', 'T2_2014', 'T3_2014', 'T4_2014', 'T1_2015', 'T2_2015', 'T3_2015', 'T4_2015', 'T1_2016', 'T2_2016', 'T3_2016', 'T4_2016', 'T1_2017', 'T2_2017', 'T3_2017', 'T4_2017', 'T1_2018', 'T2_2018', 'T3_2018', 'T4_2018', 'T1_2019', 'T2_2019', 'T3_2019', 'T4_2019', 'T1_2020', 'T2_2020', 'T3_2020']
33

In [86]:
unemprate = pd.read_csv("unemprate1320.csv", sep =';', header =None)
unemprate

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,01,AIN,"7,3","7,3","7,2","7,0","7,0","7,0","7,1","7,3",...,"6,4","6,4","6,2","6,2","6,0","6,1","5,9","5,8","5,6","6,9"
1,02,AISNE,"14,3","14,5","14,3","13,9","14,0","14,0","14,0","14,0",...,"12,7","12,4","12,1","12,0","11,8","11,8","11,4","11,1","9,7","12,4"
2,03,ALLIER,"10,4","10,4","10,3","10,2","10,3","10,3","10,4","10,7",...,"9,6","9,5","9,2","9,3","9,1","9,0","8,7","8,5","7,9","9,6"
3,04,ALPES-DE-HAUTE-PROVENCE,"11,4","11,6","11,4","11,4","11,4","11,5","11,7","11,7",...,"10,9","10,6","10,5","10,6","10,2","10,1","9,6","9,3","8,7","10,4"
4,05,HAUTES-ALPES,"9,1","9,4","9,3","9,2","9,1","9,3","9,3","9,4",...,"8,5","8,5","8,3","8,4","8,1","7,9","7,7","7,5","7,0","8,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,HAUTS-DE-SEINE,"7,8","7,9","7,8","7,7","7,7","7,8","7,8","8,0",...,"7,0","6,9","6,7","6,7","6,6","6,6","6,3","6,1","5,4","7,3"
93,93,SEINE-SAINT-DENIS,"12,7","13,0","12,9","12,8","12,9","13,0","13,1","13,2",...,"11,9","11,5","11,3","11,3","10,9","10,9","10,5","10,2","9,2","12,0"
94,94,VAL-DE-MARNE,"8,7","8,9","8,7","8,7","8,8","8,9","9,0","9,1",...,"8,2","8,0","7,7","7,7","7,5","7,4","7,2","7,1","6,4","8,4"
95,95,VAL-D'OISE,"10,1","10,2","10,0","9,9","10,0","10,1","10,3","10,4",...,"9,4","9,2","8,9","8,9","8,6","8,6","8,3","8,1","7,3","9,6"
96,971,GUADELOUPE,NaN,NaN,NaN,NaN,"24,0","23,7","23,2","24,3",...,"21,2","22,9","22,0","21,6","20,2","20,2","20,1","18,7","12,9","18,6"

In [87]:
unemprate.columns = data_columns
unemprate

,Code,Libelle,T1_2013,T2_2013,T3_2013,T4_2013,T1_2014,T2_2014,T3_2014,T4_2014,...,T2_2018,T3_2018,T4_2018,T1_2019,T2_2019,T3_2019,T4_2019,T1_2020,T2_2020,T3_2020
0,01,AIN,"7,3","7,3","7,2","7,0","7,0","7,0","7,1","7,3",...,"6,4","6,4","6,2","6,2","6,0","6,1","5,9","5,8","5,6","6,9"
1,02,AISNE,"14,3","14,5","14,3","13,9","14,0","14,0","14,0","14,0",...,"12,7","12,4","12,1","12,0","11,8","11,8","11,4","11,1","9,7","12,4"
2,03,ALLIER,"10,4","10,4","10,3","10,2","10,3","10,3","10,4","10,7",...,"9,6","9,5","9,2","9,3","9,1","9,0","8,7","8,5","7,9","9,6"
3,04,ALPES-DE-HAUTE-PROVENCE,"11,4","11,6","11,4","11,4","11,4","11,5","11,7","11,7",...,"10,9","10,6","10,5","10,6","10,2","10,1","9,6","9,3","8,7","10,4"
4,05,HAUTES-ALPES,"9,1","9,4","9,3","9,2","9,1","9,3","9,3","9,4",...,"8,5","8,5","8,3","8,4","8,1","7,9","7,7","7,5","7,0","8,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,HAUTS-DE-SEINE,"7,8","7,9","7,8","7,7","7,7","7,8","7,8","8,0",...,"7,0","6,9","6,7","6,7","6,6","6,6","6,3","6,1","5,4","7,3"
93,93,SEINE-SAINT-DENIS,"12,7","13,0","12,9","12,8","12,9","13,0","13,1","13,2",...,"11,9","11,5","11,3","11,3","10,9","10,9","10,5","10,2","9,2","12,0"
94,94,VAL-DE-MARNE,"8,7","8,9","8,7","8,7","8,8","8,9","9,0","9,1",...,"8,2","8,0","7,7","7,7","7,5","7,4","7,2","7,1","6,4","8,4"
95,95,VAL-D'OISE,"10,1","10,2","10,0","9,9","10,0","10,1","10,3","10,4",...,"9,4","9,2","8,9","8,9","8,6","8,6","8,3","8,1","7,3","9,6"
96,971,GUADELOUPE,NaN,NaN,NaN,NaN,"24,0","23,7","23,2","24,3",...,"21,2","22,9","22,0","21,6","20,2","20,2","20,1","18,7","12,9","18,6"

In [88]:
unemprate.shape

(97, 33)

In [89]:
unemprate.isnull().sum().sum()

4

In [90]:
unemprate.set_index('Code')
unemprate.head()

,Code,Libelle,T1_2013,T2_2013,T3_2013,T4_2013,T1_2014,T2_2014,T3_2014,T4_2014,...,T2_2018,T3_2018,T4_2018,T1_2019,T2_2019,T3_2019,T4_2019,T1_2020,T2_2020,T3_2020
0,01,AIN,"7,3","7,3","7,2","7,0","7,0","7,0","7,1","7,3",...,"6,4","6,4","6,2","6,2","6,0","6,1","5,9","5,8","5,6","6,9"
1,02,AISNE,"14,3","14,5","14,3","13,9","14,0","14,0","14,0","14,0",...,"12,7","12,4","12,1","12,0","11,8","11,8","11,4","11,1","9,7","12,4"
2,03,ALLIER,"10,4","10,4","10,3","10,2","10,3","10,3","10,4","10,7",...,"9,6","9,5","9,2","9,3","9,1","9,0","8,7","8,5","7,9","9,6"
3,04,ALPES-DE-HAUTE-PROVENCE,"11,4","11,6","11,4","11,4","11,4","11,5","11,7","11,7",...,"10,9","10,6","10,5","10,6","10,2","10,1","9,6","9,3","8,7","10,4"
4,05,HAUTES-ALPES,"9,1","9,4","9,3","9,2","9,1","9,3","9,3","9,4",...,"8,5","8,5","8,3","8,4","8,1","7,9","7,7","7,5","7,0","8,4"

In [91]:
unemprate.dtypes

Code       object
Libelle    object
T1_2013    object
T2_2013    object
T3_2013    object
T4_2013    object
T1_2014    object
T2_2014    object
T3_2014    object
T4_2014    object
T1_2015    object
T2_2015    object
T3_2015    object
T4_2015    object
T1_2016    object
T2_2016    object
T3_2016    object
T4_2016    object
T1_2017    object
T2_2017    object
T3_2017    object
T4_2017    object
T1_2018    object
T2_2018    object
T3_2018    object
T4_2018    object
T1_2019    object
T2_2019    object
T3_2019    object
T4_2019    object
T1_2020    object
T2_2020    object
T3_2020    object
dtype: object

In [92]:
unemprate.columns

Index(['Code', 'Libelle', 'T1_2013', 'T2_2013', 'T3_2013', 'T4_2013',
       'T1_2014', 'T2_2014', 'T3_2014', 'T4_2014', 'T1_2015', 'T2_2015',
       'T3_2015', 'T4_2015', 'T1_2016', 'T2_2016', 'T3_2016', 'T4_2016',
       'T1_2017', 'T2_2017', 'T3_2017', 'T4_2017', 'T1_2018', 'T2_2018',
       'T3_2018', 'T4_2018', 'T1_2019', 'T2_2019', 'T3_2019', 'T4_2019',
       'T1_2020', 'T2_2020', 'T3_2020'],
      dtype='object')

In [93]:
unemprate.isna().sum()

Code       0
Libelle    0
T1_2013    1
T2_2013    1
T3_2013    1
T4_2013    1
T1_2014    0
T2_2014    0
T3_2014    0
T4_2014    0
T1_2015    0
T2_2015    0
T3_2015    0
T4_2015    0
T1_2016    0
T2_2016    0
T3_2016    0
T4_2016    0
T1_2017    0
T2_2017    0
T3_2017    0
T4_2017    0
T1_2018    0
T2_2018    0
T3_2018    0
T4_2018    0
T1_2019    0
T2_2019    0
T3_2019    0
T4_2019    0
T1_2020    0
T2_2020    0
T3_2020    0
dtype: int64

In [94]:
unemprate['T1_2013'].isnull()
#unemprate['T2_2013'].isnull()
#unemprate['T3_2013'].isnull()

0     False
1     False
2     False
3     False
4     False
      ...
92    False
93    False
94    False
95    False
96     True
Name: T1_2013, Length: 97, dtype: bool

In [95]:
#Remplacer les valeurs nulles par des 0 (Depart Guadeloupe)
Col2013 = ["T1_2013","T2_2013", "T3_2013", "T4_2013"]
unemprate[Col2013] = unemprate[Col2013].fillna(0)

In [16]:
unemprate

,Code,Libelle,T1_2013,T2_2013,T3_2013,T4_2013,T1_2014,T2_2014,T3_2014,T4_2014,...,T2_2018,T3_2018,T4_2018,T1_2019,T2_2019,T3_2019,T4_2019,T1_2020,T2_2020,T3_2020
0,01,AIN,"7,3","7,3","7,2","7,0","7,0","7,0","7,1","7,3",...,"6,4","6,4","6,2","6,2","6,0","6,1","5,9","5,8","5,6","6,9"
1,02,AISNE,"14,3","14,5","14,3","13,9","14,0","14,0","14,0","14,0",...,"12,7","12,4","12,1","12,0","11,8","11,8","11,4","11,1","9,7","12,4"
2,03,ALLIER,"10,4","10,4","10,3","10,2","10,3","10,3","10,4","10,7",...,"9,6","9,5","9,2","9,3","9,1","9,0","8,7","8,5","7,9","9,6"
3,04,ALPES-DE-HAUTE-PROVENCE,"11,4","11,6","11,4","11,4","11,4","11,5","11,7","11,7",...,"10,9","10,6","10,5","10,6","10,2","10,1","9,6","9,3","8,7","10,4"
4,05,HAUTES-ALPES,"9,1","9,4","9,3","9,2","9,1","9,3","9,3","9,4",...,"8,5","8,5","8,3","8,4","8,1","7,9","7,7","7,5","7,0","8,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,HAUTS-DE-SEINE,"7,8","7,9","7,8","7,7","7,7","7,8","7,8","8,0",...,"7,0","6,9","6,7","6,7","6,6","6,6","6,3","6,1","5,4","7,3"
93,93,SEINE-SAINT-DENIS,"12,7","13,0","12,9","12,8","12,9","13,0","13,1","13,2",...,"11,9","11,5","11,3","11,3","10,9","10,9","10,5","10,2","9,2","12,0"
94,94,VAL-DE-MARNE,"8,7","8,9","8,7","8,7","8,8","8,9","9,0","9,1",...,"8,2","8,0","7,7","7,7","7,5","7,4","7,2","7,1","6,4","8,4"
95,95,VAL-D'OISE,"10,1","10,2","10,0","9,9","10,0","10,1","10,3","10,4",...,"9,4","9,2","8,9","8,9","8,6","8,6","8,3","8,1","7,3","9,6"
96,971,GUADELOUPE,0,0,0,0,"24,0","23,7","23,2","24,3",...,"21,2","22,9","22,0","21,6","20,2","20,2","20,1","18,7","12,9","18,6"

In [96]:
#Pivoter les données des trims_Années
#dfBMO1320_unpivoted = dfBMOnew11320.melt(id_vars=['Département','Année'], var_name='metier', value_name='nbproj')
unemprate_unpivoted = unemprate.melt(id_vars=['Code', 'Libelle'], var_name='TrimYear', value_name='rate')
unemprate_unpivoted

     Code                  Libelle TrimYear  rate
0      01                      AIN  T1_2013   7,3
1      02                    AISNE  T1_2013  14,3
2      03                   ALLIER  T1_2013  10,4
3      04  ALPES-DE-HAUTE-PROVENCE  T1_2013  11,4
4      05             HAUTES-ALPES  T1_2013   9,1
...   ...                      ...      ...   ...
3002   92           HAUTS-DE-SEINE  T3_2020   7,3
3003   93        SEINE-SAINT-DENIS  T3_2020  12,0
3004   94             VAL-DE-MARNE  T3_2020   8,4
3005   95               VAL-D'OISE  T3_2020   9,6
3006  971               GUADELOUPE  T3_2020  18,6

[3007 rows x 4 columns]

In [97]:
unemprate_unpivoted.dtypes

Code        object
Libelle     object
TrimYear    object
rate        object
dtype: object

In [104]:
unemprate_unpivoted.head(100)

   Code                  Libelle TrimYear  rate
0    01                      AIN  T1_2013   7,3
1    02                    AISNE  T1_2013  14,3
2    03                   ALLIER  T1_2013  10,4
3    04  ALPES-DE-HAUTE-PROVENCE  T1_2013  11,4
4    05             HAUTES-ALPES  T1_2013   9,1
..  ...                      ...      ...   ...
95   95               VAL-D'OISE  T1_2013  10,1
96  971               GUADELOUPE  T1_2013     0
97   01                      AIN  T2_2013   7,3
98   02                    AISNE  T2_2013  14,5
99   03                   ALLIER  T2_2013  10,4

[100 rows x 4 columns]

In [99]:
unemprate.isnull().sum().sum()

0

In [117]:
#unemprate_unpivoted['rate'] = unemprate_unpivoted['rate'].str.replace(',','.')
#unemprate_unpivoted['rate'] = unemprate_unpivoted['rate'].apply(pd.to_numeric, errors='coerce')
unemprate_unpivoted

     Code                  Libelle TrimYear  rate
0      01                      AIN  T1_2013   7.3
1      02                    AISNE  T1_2013  14.3
2      03                   ALLIER  T1_2013  10.4
3      04  ALPES-DE-HAUTE-PROVENCE  T1_2013  11.4
4      05             HAUTES-ALPES  T1_2013   9.1
...   ...                      ...      ...   ...
3002   92           HAUTS-DE-SEINE  T3_2020   7.3
3003   93        SEINE-SAINT-DENIS  T3_2020  12.0
3004   94             VAL-DE-MARNE  T3_2020   8.4
3005   95               VAL-D'OISE  T3_2020   9.6
3006  971               GUADELOUPE  T3_2020  18.6

[3007 rows x 4 columns]

In [ ]:
#Check for duplicates

In [118]:
unemprate_unpivoted.head(100)

   Code                  Libelle TrimYear  rate
0    01                      AIN  T1_2013   7.3
1    02                    AISNE  T1_2013  14.3
2    03                   ALLIER  T1_2013  10.4
3    04  ALPES-DE-HAUTE-PROVENCE  T1_2013  11.4
4    05             HAUTES-ALPES  T1_2013   9.1
..  ...                      ...      ...   ...
95   95               VAL-D'OISE  T1_2013  10.1
96  971               GUADELOUPE  T1_2013   NaN
97   01                      AIN  T2_2013   7.3
98   02                    AISNE  T2_2013  14.5
99   03                   ALLIER  T2_2013  10.4

[100 rows x 4 columns]

In [121]:
unemprate_unpivoted_dup = unemprate_unpivoted[['Code']].duplicated()
unemprate_unpivoted_dup.head(100)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97     True
98     True
99     True
Length: 100, dtype: bool

In [22]:
#1- Connect to cassandra Driver

In [23]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /home/fitec/anaconda3/lib/python3.8/site-packages (3.24.0)
Requirement already satisfied: six>=1.9 in /home/fitec/anaconda3/lib/python3.8/site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /home/fitec/anaconda3/lib/python3.8/site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in /home/fitec/anaconda3/lib/python3.8/site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in /home/fitec/anaconda3/lib/python3.8/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

In [37]:
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
from datetime import date
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
today = date.today()
# dd/mm/YY
date_ingestion = today.strftime("%Y-%m-%d")
print("date_ingestion =", date_ingestion)

date_ingestion = 2021-01-12

In [44]:
CASSANDRA_HOST = ['127.0.0.1']  #51.79.25.242 10.0.0.8
CASSANDRA_PORT = 9043
CASSANDRA_DB = "Covid19App"
#CASSANDRA_TABLE_OFFRE = "offres"
CASSANDRA_TABLE_RECRUTEMENT = "countries"
#CASSANDRA_TABLE_ASSOCIATION = "association"


def getCredential(self):
    return {'username': 'cassandra', 'password': 'cassandra'} 
  
auth_provider = PlainTextAuthProvider(username='cassandra', password='cassandra')
  
try :
    cluster = Cluster(contact_points=CASSANDRA_HOST, \
                  port=CASSANDRA_PORT , \
                  protocol_version=3, \
                  auth_provider=auth_provider)
    session =cluster.connect()
    print("ok")
except ValueError :
    print("Oops! échec de connexion cluster. Try again...")

ok

In [ ]:
#Charger les données vers Cassandra

In [ ]:
#1- Création du KeySpace Unemprate

In [49]:
session.execute("CREATE KEYSPACE IF NOT EXISTS UnempRateKS WITH REPLICATION={'class':'SimpleStrategy',\
'replication_factor':3};")

In [ ]:
#2- Création de la table UnempRT

In [51]:
#PrimK = 
session.execute("CREATE TABLE IF NOT EXISTS  UnemprateKS.UnempRT (Code Text, libelle Text, trimYear Text, rate Text, primary key (code));")

In [132]:
query_insert="INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('{} ', $${}$$, '{} ', '{} ');"
#query_insert="INSERT INTO UnemprateKS.UnempRT (Code, Libelle, TrimYear, rate)
#VALUES ('{} ', '{} ', '{} ', '{} ');"

In [136]:
for ct in unemprate_unpivoted.index:
#df_countries.index:
     
    CQL_query = query_insert.format(unemprate_unpivoted['Code'][ct],unemprate_unpivoted['Libelle'][ct],unemprate_unpivoted['TrimYear'][ct],unemprate_unpivoted['rate'][ct],'{}') 
    print(CQL_query)
     
    session.execute(CQL_query)

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2013 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2013 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2013 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2013 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2013 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2013 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2013 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2013 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2013 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2013 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2013 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2013 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2013 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2013 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2013 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2013 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2013 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2013 ', '13.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2013 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2013 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2013 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2013 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2013 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2013 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2013 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2013 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T1_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T1_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T1_2013 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T1_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T1_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T1_2013 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T1_2013 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T1_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T1_2013 ', '13.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T1_2013 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T1_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T1_2013 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T1_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T1_2013 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T1_2013 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T1_2013 ', '14.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T1_2013 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T1_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T1_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T1_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T1_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T1_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T1_2013 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T1_2013 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T1_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T1_2013 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T1_2013 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T1_2013 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T1_2013 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T1_2013 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T1_2013 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T1_2013 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T1_2013 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T1_2013 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T1_2013 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T1_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T1_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T1_2013 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T1_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T1_2013 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T1_2013 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T1_2013 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T1_2013 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T1_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T1_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T1_2013 ', 'nan ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T2_2013 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T2_2013 ', '14.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T2_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T2_2013 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T2_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T2_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T2_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T2_2013 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T2_2013 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T2_2013 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T2_2013 ', '13.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T2_2013 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T2_2013 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T2_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T2_2013 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T2_2013 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T2_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T2_2013 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T2_2013 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T2_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T2_2013 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T2_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T2_2013 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T2_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T2_2013 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T2_2013 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T2_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T2_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T2_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T2_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T2_2013 ', '13.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T2_2013 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T2_2013 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T2_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T2_2013 ', '14.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T2_2013 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T2_2013 ', '9.4 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T2_2013 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T2_2013 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T2_2013 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T2_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T2_2013 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T2_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T2_2013 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T2_2013 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T2_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T2_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T2_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T2_2013 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T2_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T2_2013 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T2_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T2_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T2_2013 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T2_2013 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T2_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T2_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T2_2013 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T2_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T2_2013 ', '13.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T2_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T2_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T2_2013 ', '13.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T2_2013 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T2_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T2_2013 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T2_2013 ', '14.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T2_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T2_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T2_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T2_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T2_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T2_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T2_2013 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T2_2013 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T2_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T2_2013 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T2_2013 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T2_2013 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T2_2013 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T2_2013 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2013 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2013 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2013 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2013 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2013 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2013 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2013 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2013 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2013 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2013 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2013 ', 'nan ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2013 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2013 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2013 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2013 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2013 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2013 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2013 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2013 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2013 ', '13.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2013 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2013 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2013 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2013 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2013 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2013 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2013 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2013 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T3_2013 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T3_2013 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T3_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T3_2013 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T3_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T3_2013 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T3_2013 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T3_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T3_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T3_2013 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T3_2013 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T3_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T3_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T3_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T3_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T3_2013 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T3_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T3_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T3_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T3_2013 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T3_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T3_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T3_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T3_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T3_2013 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T3_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T3_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T3_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T3_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T3_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T3_2013 ', '13.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T3_2013 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T3_2013 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T3_2013 ', '13.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T3_2013 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T3_2013 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T3_2013 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T3_2013 ', '14.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T3_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T3_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T3_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T3_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T3_2013 ', '9.2 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T3_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T3_2013 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T3_2013 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T3_2013 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T3_2013 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T3_2013 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T3_2013 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T3_2013 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T3_2013 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T3_2013 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T3_2013 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T3_2013 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T3_2013 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T3_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T3_2013 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T3_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T3_2013 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T3_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T3_2013 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T3_2013 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T3_2013 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T3_2013 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T3_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T3_2013 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T3_2013 ', 'nan ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T4_2013 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T4_2013 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T4_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T4_2013 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T4_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T4_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T4_2013 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T4_2013 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T4_2013 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T4_2013 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T4_2013 ', '13.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T4_2013 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T4_2013 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T4_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T4_2013 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T4_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T4_2013 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T4_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T4_2013 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T4_2013 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T4_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T4_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T4_2013 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T4_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T4_2013 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T4_2013 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T4_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T4_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T4_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T4_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T4_2013 ', '13.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T4_2013 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T4_2013 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T4_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T4_2013 ', '14.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T4_2013 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T4_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T4_2013 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T4_2013 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T4_2013 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T4_2013 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T4_2013 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T4_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T4_2013 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T4_2013 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T4_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T4_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T4_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T4_2013 ', '5.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T4_2013 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T4_2013 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T4_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T4_2013 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T4_2013 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T4_2013 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T4_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T4_2013 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T4_2013 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T4_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T4_2013 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T4_2013 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T4_2013 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T4_2013 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T4_2013 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T4_2013 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T4_2013 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T4_2013 ', '14.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T4_2013 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T4_2013 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T4_2013 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T4_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T4_2013 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T4_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T4_2013 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T4_2013 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T4_2013 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T4_2013 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T4_2013 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T4_2013 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T4_2013 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T4_2013 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T4_2013 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T4_2013 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T4_2013 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T4_2013 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T4_2013 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T4_2013 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T4_2013 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T4_2013 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T4_2013 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T4_2013 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T4_2013 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T4_2013 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T4_2013 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T4_2013 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T4_2013 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T4_2013 ', 'nan ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2014 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2014 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2014 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2014 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2014 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2014 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2014 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2014 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2014 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2014 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2014 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2014 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2014 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2014 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2014 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2014 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2014 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2014 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2014 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2014 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2014 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2014 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2014 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2014 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2014 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2014 ', '9.2 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T1_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T1_2014 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T1_2014 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T1_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T1_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T1_2014 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T1_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T1_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T1_2014 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T1_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T1_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T1_2014 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T1_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T1_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T1_2014 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T1_2014 ', '14.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T1_2014 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T1_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T1_2014 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T1_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T1_2014 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T1_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T1_2014 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T1_2014 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T1_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T1_2014 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T1_2014 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T1_2014 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T1_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T1_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T1_2014 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T1_2014 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T1_2014 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T1_2014 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T1_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T1_2014 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T1_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T1_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T1_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T1_2014 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T1_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T1_2014 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T1_2014 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T1_2014 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T1_2014 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T1_2014 ', '24.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T2_2014 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T2_2014 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T2_2014 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T2_2014 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T2_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T2_2014 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T2_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T2_2014 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T2_2014 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T2_2014 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T2_2014 ', '13.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T2_2014 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T2_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T2_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T2_2014 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T2_2014 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T2_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T2_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T2_2014 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T2_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T2_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T2_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T2_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T2_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T2_2014 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T2_2014 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T2_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T2_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T2_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T2_2014 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T2_2014 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T2_2014 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T2_2014 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T2_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T2_2014 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T2_2014 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T2_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T2_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T2_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T2_2014 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T2_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T2_2014 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T2_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T2_2014 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T2_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T2_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T2_2014 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T2_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T2_2014 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T2_2014 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T2_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T2_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T2_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T2_2014 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T2_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T2_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T2_2014 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T2_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T2_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T2_2014 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T2_2014 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T2_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T2_2014 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T2_2014 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T2_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T2_2014 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T2_2014 ', '14.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T2_2014 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T2_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T2_2014 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T2_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T2_2014 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T2_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T2_2014 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T2_2014 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T2_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T2_2014 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T2_2014 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T2_2014 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T2_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T2_2014 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2014 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2014 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2014 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2014 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2014 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2014 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2014 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2014 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2014 ', '23.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2014 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2014 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2014 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2014 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2014 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2014 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2014 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2014 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2014 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2014 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2014 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2014 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2014 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2014 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2014 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2014 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2014 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2014 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2014 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2014 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2014 ', '9.5 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T3_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T3_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T3_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T3_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T3_2014 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T3_2014 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T3_2014 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T3_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T3_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T3_2014 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T3_2014 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T3_2014 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T3_2014 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T3_2014 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T3_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T3_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T3_2014 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T3_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T3_2014 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T3_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T3_2014 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T3_2014 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T3_2014 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T3_2014 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T3_2014 ', '23.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T4_2014 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T4_2014 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T4_2014 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T4_2014 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T4_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T4_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T4_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T4_2014 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T4_2014 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T4_2014 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T4_2014 ', '14.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T4_2014 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T4_2014 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T4_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T4_2014 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T4_2014 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T4_2014 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T4_2014 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T4_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T4_2014 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T4_2014 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T4_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T4_2014 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T4_2014 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T4_2014 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T4_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T4_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T4_2014 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T4_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T4_2014 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T4_2014 ', '14.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T4_2014 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T4_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T4_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T4_2014 ', '14.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T4_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T4_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T4_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T4_2014 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T4_2014 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T4_2014 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T4_2014 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T4_2014 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T4_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T4_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T4_2014 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T4_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T4_2014 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T4_2014 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T4_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T4_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T4_2014 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T4_2014 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T4_2014 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T4_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T4_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T4_2014 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T4_2014 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T4_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T4_2014 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T4_2014 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T4_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T4_2014 ', '13.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T4_2014 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T4_2014 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T4_2014 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T4_2014 ', '15.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T4_2014 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T4_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T4_2014 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T4_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T4_2014 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T4_2014 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T4_2014 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T4_2014 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T4_2014 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T4_2014 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T4_2014 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T4_2014 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T4_2014 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T4_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T4_2014 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T4_2014 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T4_2014 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T4_2014 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T4_2014 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T4_2014 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T4_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T4_2014 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T4_2014 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T4_2014 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T4_2014 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T4_2014 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T4_2014 ', '13.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T4_2014 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T4_2014 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T4_2014 ', '24.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2015 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2015 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2015 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2015 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2015 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2015 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2015 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2015 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2015 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2015 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2015 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2015 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2015 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2015 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2015 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2015 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2015 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2015 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2015 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2015 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2015 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2015 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2015 ', '14.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2015 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2015 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2015 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2015 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2015 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2015 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2015 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2015 ', '8.4 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T1_2015 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T1_2015 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T1_2015 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T1_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T1_2015 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T1_2015 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T1_2015 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T1_2015 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T1_2015 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T1_2015 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T1_2015 ', '23.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T2_2015 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T2_2015 ', '14.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T2_2015 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T2_2015 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T2_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T2_2015 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T2_2015 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T2_2015 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T2_2015 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T2_2015 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T2_2015 ', '14.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T2_2015 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T2_2015 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T2_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T2_2015 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T2_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T2_2015 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T2_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T2_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T2_2015 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T2_2015 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T2_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T2_2015 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T2_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T2_2015 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T2_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T2_2015 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T2_2015 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T2_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T2_2015 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T2_2015 ', '14.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T2_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T2_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T2_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T2_2015 ', '14.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T2_2015 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T2_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T2_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T2_2015 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T2_2015 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T2_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T2_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T2_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T2_2015 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T2_2015 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T2_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T2_2015 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T2_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T2_2015 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T2_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T2_2015 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T2_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T2_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T2_2015 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T2_2015 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T2_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T2_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T2_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T2_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T2_2015 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T2_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T2_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T2_2015 ', '13.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T2_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T2_2015 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T2_2015 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T2_2015 ', '15.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T2_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T2_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T2_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T2_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T2_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T2_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T2_2015 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T2_2015 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T2_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T2_2015 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T2_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T2_2015 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T2_2015 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T2_2015 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2015 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2015 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2015 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2015 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2015 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2015 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2015 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2015 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2015 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2015 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2015 ', '13.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2015 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2015 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2015 ', '24.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2015 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2015 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2015 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2015 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2015 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2015 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2015 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2015 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2015 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2015 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2015 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2015 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2015 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2015 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2015 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2015 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2015 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T3_2015 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T3_2015 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T3_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T3_2015 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T3_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T3_2015 ', '14.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T3_2015 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T3_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T3_2015 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T3_2015 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T3_2015 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T3_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T3_2015 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T3_2015 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T3_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T3_2015 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T3_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T3_2015 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T3_2015 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T3_2015 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T3_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T3_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T3_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T3_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T3_2015 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T3_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T3_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T3_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T3_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T3_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T3_2015 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T3_2015 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T3_2015 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T3_2015 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T3_2015 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T3_2015 ', '8.6 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T3_2015 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T3_2015 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T3_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T3_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T3_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T3_2015 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T3_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T3_2015 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T3_2015 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T3_2015 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T3_2015 ', '13.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T3_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T3_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T3_2015 ', '23.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T4_2015 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T4_2015 ', '13.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T4_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T4_2015 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T4_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T4_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T4_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T4_2015 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T4_2015 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T4_2015 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T4_2015 ', '13.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T4_2015 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T4_2015 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T4_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T4_2015 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T4_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T4_2015 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T4_2015 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T4_2015 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T4_2015 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T4_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T4_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T4_2015 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T4_2015 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T4_2015 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T4_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T4_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T4_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T4_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T4_2015 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T4_2015 ', '13.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T4_2015 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T4_2015 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T4_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T4_2015 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T4_2015 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T4_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T4_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T4_2015 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T4_2015 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T4_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T4_2015 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T4_2015 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T4_2015 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T4_2015 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T4_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T4_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T4_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T4_2015 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T4_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T4_2015 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T4_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T4_2015 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T4_2015 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T4_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T4_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T4_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T4_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T4_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T4_2015 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T4_2015 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T4_2015 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T4_2015 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T4_2015 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T4_2015 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T4_2015 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T4_2015 ', '15.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T4_2015 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T4_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T4_2015 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T4_2015 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T4_2015 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T4_2015 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T4_2015 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T4_2015 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T4_2015 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T4_2015 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T4_2015 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T4_2015 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T4_2015 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T4_2015 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T4_2015 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T4_2015 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T4_2015 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T4_2015 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T4_2015 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T4_2015 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T4_2015 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T4_2015 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T4_2015 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T4_2015 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T4_2015 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T4_2015 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T4_2015 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T4_2015 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T4_2015 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T4_2015 ', '24.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2016 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2016 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2016 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2016 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2016 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2016 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2016 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2016 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2016 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2016 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2016 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2016 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2016 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2016 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2016 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2016 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2016 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2016 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2016 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2016 ', '13.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2016 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2016 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2016 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2016 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2016 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2016 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2016 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2016 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2016 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2016 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2016 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2016 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2016 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2016 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T1_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T1_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T1_2016 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T1_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T1_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T1_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T1_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T1_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T1_2016 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T1_2016 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T1_2016 ', '9.6 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T1_2016 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T1_2016 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T1_2016 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T1_2016 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T1_2016 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T1_2016 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T1_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T1_2016 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T1_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T1_2016 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T1_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T1_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T1_2016 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T1_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T1_2016 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T1_2016 ', '25.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T2_2016 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T2_2016 ', '13.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T2_2016 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T2_2016 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T2_2016 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T2_2016 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T2_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T2_2016 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T2_2016 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T2_2016 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T2_2016 ', '13.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T2_2016 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T2_2016 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T2_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T2_2016 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T2_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T2_2016 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T2_2016 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T2_2016 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T2_2016 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T2_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T2_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T2_2016 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T2_2016 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T2_2016 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T2_2016 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T2_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T2_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T2_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T2_2016 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T2_2016 ', '13.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T2_2016 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T2_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T2_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T2_2016 ', '13.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T2_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T2_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T2_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T2_2016 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T2_2016 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T2_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T2_2016 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T2_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T2_2016 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T2_2016 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T2_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T2_2016 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T2_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T2_2016 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T2_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T2_2016 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T2_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T2_2016 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T2_2016 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T2_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T2_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T2_2016 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T2_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T2_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T2_2016 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T2_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T2_2016 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T2_2016 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T2_2016 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T2_2016 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T2_2016 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T2_2016 ', '15.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T2_2016 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T2_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T2_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T2_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T2_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T2_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T2_2016 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T2_2016 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T2_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T2_2016 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T2_2016 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T2_2016 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T2_2016 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T2_2016 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2016 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2016 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2016 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2016 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2016 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2016 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2016 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2016 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2016 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2016 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2016 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2016 ', '25.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2016 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2016 ', '13.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2016 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2016 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2016 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2016 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2016 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2016 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2016 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2016 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2016 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2016 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2016 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2016 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2016 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2016 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2016 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2016 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2016 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2016 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T3_2016 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T3_2016 ', '13.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T3_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T3_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T3_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T3_2016 ', '13.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T3_2016 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T3_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T3_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T3_2016 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T3_2016 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T3_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T3_2016 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T3_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T3_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T3_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T3_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T3_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T3_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T3_2016 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T3_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T3_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T3_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T3_2016 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T3_2016 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T3_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T3_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T3_2016 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T3_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T3_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T3_2016 ', '12.4 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T3_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T3_2016 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T3_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T3_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T3_2016 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T3_2016 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T3_2016 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T3_2016 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T3_2016 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T3_2016 ', '22.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T4_2016 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T4_2016 ', '13.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T4_2016 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T4_2016 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T4_2016 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T4_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T4_2016 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T4_2016 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T4_2016 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T4_2016 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T4_2016 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T4_2016 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T4_2016 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T4_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T4_2016 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T4_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T4_2016 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T4_2016 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T4_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T4_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T4_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T4_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T4_2016 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T4_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T4_2016 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T4_2016 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T4_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T4_2016 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T4_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T4_2016 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T4_2016 ', '13.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T4_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T4_2016 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T4_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T4_2016 ', '13.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T4_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T4_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T4_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T4_2016 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T4_2016 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T4_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T4_2016 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T4_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T4_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T4_2016 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T4_2016 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T4_2016 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T4_2016 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T4_2016 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T4_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T4_2016 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T4_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T4_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T4_2016 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T4_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T4_2016 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T4_2016 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T4_2016 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T4_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T4_2016 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T4_2016 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T4_2016 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T4_2016 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T4_2016 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T4_2016 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T4_2016 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T4_2016 ', '15.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T4_2016 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T4_2016 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T4_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T4_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T4_2016 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T4_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T4_2016 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T4_2016 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T4_2016 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T4_2016 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T4_2016 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T4_2016 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T4_2016 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T4_2016 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T4_2016 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T4_2016 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T4_2016 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T4_2016 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T4_2016 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T4_2016 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T4_2016 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T4_2016 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T4_2016 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T4_2016 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T4_2016 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T4_2016 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T4_2016 ', '12.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T4_2016 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T4_2016 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T4_2016 ', '21.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2017 ', '13.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2017 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2017 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2017 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2017 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2017 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2017 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2017 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2017 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2017 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2017 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2017 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2017 ', '5.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2017 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2017 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2017 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2017 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2017 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2017 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2017 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2017 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2017 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2017 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2017 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2017 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2017 ', '13.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2017 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2017 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2017 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2017 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2017 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2017 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2017 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2017 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2017 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T1_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T1_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T1_2017 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T1_2017 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T1_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T1_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T1_2017 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T1_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T1_2017 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T1_2017 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T1_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T1_2017 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T1_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T1_2017 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T1_2017 ', '10.8 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T2_2017 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T2_2017 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T2_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T2_2017 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T2_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T2_2017 ', '5.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T2_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T2_2017 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T2_2017 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T2_2017 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T2_2017 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T2_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T2_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T2_2017 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T2_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T2_2017 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T2_2017 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T2_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T2_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T2_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T2_2017 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T2_2017 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T2_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T2_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T2_2017 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T2_2017 ', '13.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T2_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T2_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T2_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T2_2017 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T2_2017 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T2_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T2_2017 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T2_2017 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T2_2017 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T2_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T2_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T2_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T2_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T2_2017 ', '5.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T2_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T2_2017 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T2_2017 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T2_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T2_2017 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T2_2017 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T2_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T2_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T2_2017 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T2_2017 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T2_2017 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T2_2017 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T2_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T2_2017 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T2_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T2_2017 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T2_2017 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T2_2017 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T2_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T2_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T2_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T2_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T2_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T2_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T2_2017 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T2_2017 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T2_2017 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T2_2017 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T2_2017 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T2_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T2_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T2_2017 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2017 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2017 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2017 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2017 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2017 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2017 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2017 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2017 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2017 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2017 ', '12.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2017 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2017 ', '22.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2017 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2017 ', '13.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2017 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2017 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2017 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2017 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2017 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2017 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2017 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2017 ', '12.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2017 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2017 ', '5.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2017 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2017 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2017 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2017 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2017 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2017 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T3_2017 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T3_2017 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T3_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T3_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T3_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T3_2017 ', '13.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T3_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T3_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T3_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T3_2017 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T3_2017 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T3_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T3_2017 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T3_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T3_2017 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T3_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T3_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T3_2017 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T3_2017 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T3_2017 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T3_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T3_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T3_2017 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T3_2017 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T3_2017 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T3_2017 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T3_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T3_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T3_2017 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T3_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T3_2017 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T3_2017 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T3_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T3_2017 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T3_2017 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T3_2017 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T3_2017 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T3_2017 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T3_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T3_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T3_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T3_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T3_2017 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T3_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T3_2017 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T3_2017 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T3_2017 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T3_2017 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T3_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T3_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T3_2017 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T3_2017 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T3_2017 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T3_2017 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T3_2017 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T3_2017 ', '11.9 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T4_2017 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T4_2017 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T4_2017 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T4_2017 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T4_2017 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T4_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T4_2017 ', '5.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T4_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T4_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T4_2017 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T4_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T4_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T4_2017 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T4_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T4_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T4_2017 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T4_2017 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T4_2017 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T4_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T4_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T4_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T4_2017 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T4_2017 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T4_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T4_2017 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T4_2017 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T4_2017 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T4_2017 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T4_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T4_2017 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T4_2017 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T4_2017 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T4_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T4_2017 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T4_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T4_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T4_2017 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T4_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T4_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T4_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T4_2017 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T4_2017 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T4_2017 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T4_2017 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T4_2017 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T4_2017 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T4_2017 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T4_2017 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T4_2017 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T4_2017 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T4_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T4_2017 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T4_2017 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T4_2017 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T4_2017 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T4_2017 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T4_2017 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T4_2017 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T4_2017 ', '13.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T4_2017 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T4_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T4_2017 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T4_2017 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T4_2017 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T4_2017 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T4_2017 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T4_2017 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T4_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T4_2017 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T4_2017 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T4_2017 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T4_2017 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T4_2017 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T4_2017 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T4_2017 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T4_2017 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T4_2017 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T4_2017 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T4_2017 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T4_2017 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T4_2017 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T4_2017 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T4_2017 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T4_2017 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T4_2017 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T4_2017 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T4_2017 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T4_2017 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T4_2017 ', '22.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2018 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2018 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2018 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2018 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2018 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2018 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2018 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2018 ', '11.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2018 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2018 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2018 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2018 ', '5.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2018 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2018 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2018 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2018 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2018 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2018 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2018 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2018 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2018 ', '13.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2018 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2018 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2018 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2018 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2018 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2018 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2018 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2018 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2018 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T1_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T1_2018 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T1_2018 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T1_2018 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T1_2018 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T1_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T1_2018 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T1_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T1_2018 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T1_2018 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T1_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T1_2018 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T1_2018 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T1_2018 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T1_2018 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T1_2018 ', '14.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T1_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T1_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T1_2018 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T1_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T1_2018 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T1_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T1_2018 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T1_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T1_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T1_2018 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T1_2018 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T1_2018 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T1_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T1_2018 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T1_2018 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T1_2018 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T1_2018 ', '10.2 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T2_2018 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T2_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T2_2018 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T2_2018 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T2_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T2_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T2_2018 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T2_2018 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T2_2018 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T2_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T2_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T2_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T2_2018 ', '12.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T2_2018 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T2_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T2_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T2_2018 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T2_2018 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T2_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T2_2018 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T2_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T2_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T2_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T2_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T2_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T2_2018 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T2_2018 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T2_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T2_2018 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T2_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T2_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T2_2018 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T2_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T2_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T2_2018 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T2_2018 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T2_2018 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T2_2018 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T2_2018 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T2_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T2_2018 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T2_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T2_2018 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T2_2018 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T2_2018 ', '14.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T2_2018 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T2_2018 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T2_2018 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T2_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T2_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T2_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T2_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T2_2018 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T2_2018 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T2_2018 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T2_2018 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T2_2018 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T2_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T2_2018 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2018 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2018 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2018 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2018 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2018 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2018 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2018 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2018 ', '11.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2018 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2018 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2018 ', '21.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2018 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2018 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2018 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2018 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2018 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2018 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2018 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2018 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2018 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2018 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2018 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2018 ', '5.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2018 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2018 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2018 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2018 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2018 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2018 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2018 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2018 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2018 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T3_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T3_2018 ', '12.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T3_2018 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T3_2018 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T3_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T3_2018 ', '12.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T3_2018 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T3_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T3_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T3_2018 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T3_2018 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T3_2018 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T3_2018 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T3_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T3_2018 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T3_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T3_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T3_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T3_2018 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T3_2018 ', '5.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T3_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T3_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T3_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T3_2018 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T3_2018 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T3_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T3_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T3_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T3_2018 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T3_2018 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T3_2018 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T3_2018 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T3_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T3_2018 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T3_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T3_2018 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T3_2018 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T3_2018 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T3_2018 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T3_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T3_2018 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T3_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T3_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T3_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T3_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T3_2018 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T3_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T3_2018 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T3_2018 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T3_2018 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T3_2018 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T3_2018 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T3_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T3_2018 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T3_2018 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T3_2018 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T3_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T3_2018 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T3_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T3_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T3_2018 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T3_2018 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T3_2018 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T3_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T3_2018 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T3_2018 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T3_2018 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T3_2018 ', '22.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T4_2018 ', '6.2 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T4_2018 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T4_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T4_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T4_2018 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T4_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T4_2018 ', '5.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T4_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T4_2018 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T4_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T4_2018 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T4_2018 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T4_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T4_2018 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T4_2018 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T4_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T4_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T4_2018 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T4_2018 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T4_2018 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T4_2018 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T4_2018 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T4_2018 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T4_2018 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T4_2018 ', '13.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T4_2018 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T4_2018 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T4_2018 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T4_2018 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T4_2018 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T4_2018 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T4_2018 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T4_2018 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T4_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T4_2018 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T4_2018 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T4_2018 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T4_2018 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T4_2018 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T4_2018 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T4_2018 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T4_2018 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T4_2018 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T4_2018 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T4_2018 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T4_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T4_2018 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T4_2018 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T4_2018 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T4_2018 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T4_2018 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T4_2018 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T4_2018 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T4_2018 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T4_2018 ', '22.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2019 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2019 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2019 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2019 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2019 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2019 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2019 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2019 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2019 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2019 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2019 ', '5.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2019 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2019 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2019 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2019 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2019 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2019 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2019 ', '12.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2019 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2019 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2019 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2019 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2019 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2019 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2019 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2019 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2019 ', '5.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2019 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T1_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T1_2019 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T1_2019 ', '5.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T1_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T1_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T1_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T1_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T1_2019 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T1_2019 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T1_2019 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T1_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T1_2019 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T1_2019 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T1_2019 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T1_2019 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T1_2019 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T1_2019 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T1_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T1_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T1_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T1_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T1_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T1_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T1_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T1_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T1_2019 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T1_2019 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T1_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T1_2019 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T1_2019 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T1_2019 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T1_2019 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T1_2019 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T1_2019 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T1_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T1_2019 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T1_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T1_2019 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T1_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T1_2019 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T1_2019 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T1_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T1_2019 ', '11.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T1_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T1_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T1_2019 ', '21.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T2_2019 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T2_2019 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T2_2019 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T2_2019 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T2_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T2_2019 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T2_2019 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T2_2019 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T2_2019 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T2_2019 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T2_2019 ', '11.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T2_2019 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T2_2019 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T2_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T2_2019 ', '4.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T2_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T2_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T2_2019 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T2_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T2_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T2_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T2_2019 ', '8.1 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T2_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T2_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T2_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T2_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T2_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T2_2019 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T2_2019 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T2_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T2_2019 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T2_2019 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2019 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2019 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2019 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2019 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2019 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2019 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2019 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2019 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2019 ', '20.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2019 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2019 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2019 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2019 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2019 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2019 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2019 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2019 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2019 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2019 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2019 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2019 ', '9.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2019 ', '5.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2019 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2019 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2019 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T3_2019 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T3_2019 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T3_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T3_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T3_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T3_2019 ', '11.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T3_2019 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T3_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T3_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T3_2019 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T3_2019 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T3_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T3_2019 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T3_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T3_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T3_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T3_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T3_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T3_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T3_2019 ', '5.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T3_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T3_2019 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T3_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T3_2019 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T3_2019 ', '5.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T3_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T3_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T3_2019 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T3_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T3_2019 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T3_2019 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T3_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T3_2019 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T3_2019 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T3_2019 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T3_2019 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T3_2019 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T3_2019 ', '13.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T3_2019 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T3_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T3_2019 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T3_2019 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T3_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T3_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T3_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T3_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T3_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T3_2019 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T3_2019 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T3_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T3_2019 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T3_2019 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T3_2019 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T3_2019 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T3_2019 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T3_2019 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T3_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T3_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T3_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T3_2019 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T3_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T3_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T3_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T3_2019 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T3_2019 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T3_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T3_2019 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T3_2019 ', '20.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T4_2019 ', '5.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T4_2019 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T4_2019 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T4_2019 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T4_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T4_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T4_2019 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T4_2019 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T4_2019 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T4_2019 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T4_2019 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T4_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T4_2019 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T4_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T4_2019 ', '4.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T4_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T4_2019 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T4_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T4_2019 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T4_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T4_2019 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T4_2019 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T4_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T4_2019 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T4_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T4_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T4_2019 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T4_2019 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T4_2019 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T4_2019 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T4_2019 ', '11.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T4_2019 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T4_2019 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T4_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T4_2019 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T4_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T4_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T4_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T4_2019 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T4_2019 ', '5.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T4_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T4_2019 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T4_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T4_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T4_2019 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T4_2019 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T4_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T4_2019 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T4_2019 ', '5.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T4_2019 ', '7.5 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T4_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T4_2019 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T4_2019 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T4_2019 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T4_2019 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T4_2019 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T4_2019 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T4_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T4_2019 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T4_2019 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T4_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T4_2019 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T4_2019 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T4_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T4_2019 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T4_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T4_2019 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T4_2019 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T4_2019 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T4_2019 ', '5.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T4_2019 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T4_2019 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T4_2019 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T4_2019 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T4_2019 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T4_2019 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T4_2019 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T4_2019 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T4_2019 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T4_2019 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T4_2019 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T4_2019 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T4_2019 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T4_2019 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T4_2019 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T4_2019 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T4_2019 ', '20.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T1_2020 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T1_2020 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T1_2020 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T1_2020 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T1_2020 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T1_2020 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T1_2020 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T1_2020 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T1_2020 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T1_2020 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T1_2020 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T1_2020 ', '5.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T1_2020 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T1_2020 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T1_2020 ', '4.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T1_2020 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T1_2020 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T1_2020 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T1_2020 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T1_2020 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T1_2020 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T1_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T1_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T1_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T1_2020 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T1_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T1_2020 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T1_2020 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T1_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T1_2020 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T1_2020 ', '10.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T1_2020 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T1_2020 ', '5.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T1_2020 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T1_2020 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T1_2020 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T1_2020 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T1_2020 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T1_2020 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T1_2020 ', '5.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T1_2020 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T1_2020 ', '6.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T1_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T1_2020 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T1_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T1_2020 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T1_2020 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T1_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T1_2020 ', '4.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T1_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T1_2020 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T1_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T1_2020 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T1_2020 ', '5.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T1_2020 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T1_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T1_2020 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T1_2020 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T1_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T1_2020 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T1_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T1_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T1_2020 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T1_2020 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T1_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T1_2020 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T1_2020 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T1_2020 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T1_2020 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T1_2020 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T1_2020 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T1_2020 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T1_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T1_2020 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T1_2020 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T1_2020 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T1_2020 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T1_2020 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T1_2020 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T1_2020 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T1_2020 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T1_2020 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T1_2020 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T1_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T1_2020 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T1_2020 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T1_2020 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T1_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T1_2020 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T1_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T1_2020 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T1_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T1_2020 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T1_2020 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T1_2020 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T1_2020 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T1_2020 ', '18.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T2_2020 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T2_2020 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T2_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T2_2020 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T2_2020 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T2_2020 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T2_2020 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T2_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T2_2020 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T2_2020 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T2_2020 ', '9.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T2_2020 ', '5.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T2_2020 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T2_2020 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T2_2020 ', '4.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T2_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T2_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T2_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T2_2020 ', '5.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T2_2020 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T2_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T2_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T2_2020 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T2_2020 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T2_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T2_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T2_2020 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T2_2020 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T2_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T2_2020 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T2_2020 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T2_2020 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T2_2020 ', '5.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T2_2020 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T2_2020 ', '10.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T2_2020 ', '6.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T2_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T2_2020 ', '6.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T2_2020 ', '6.0 ');

INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T2_2020 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T2_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T2_2020 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T2_2020 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T2_2020 ', '6.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T2_2020 ', '6.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T2_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T2_2020 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T2_2020 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T2_2020 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T2_2020 ', '5.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T2_2020 ', '5.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T2_2020 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T2_2020 ', '6.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T2_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T2_2020 ', '12.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('01 ', $$AIN$$, 'T3_2020 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('02 ', $$AISNE$$, 'T3_2020 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('03 ', $$ALLIER$$, 'T3_2020 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('04 ', $$ALPES-DE-HAUTE-PROVENCE$$, 'T3_2020 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('05 ', $$HAUTES-ALPES$$, 'T3_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('06 ', $$ALPES-MARITIMES$$, 'T3_2020 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('07 ', $$ARDECHE$$, 'T3_2020 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('08 ', $$ARDENNES$$, 'T3_2020 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('09 ', $$ARIEGE$$, 'T3_2020 ', '10.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('10 ', $$AUBE$$, 'T3_2020 ', '11.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('11 ', $$AUDE$$, 'T3_2020 ', '11.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('12 ', $$AVEYRON$$, 'T3_2020 ', '6.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('13 ', $$BOUCHES-DU-RHONE$$, 'T3_2020 ', '10.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('14 ', $$CALVADOS$$, 'T3_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('15 ', $$CANTAL$$, 'T3_2020 ', '5.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('16 ', $$CHARENTE$$, 'T3_2020 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('17 ', $$CHARENTE-MARITIME$$, 'T3_2020 ', '9.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('18 ', $$CHER$$, 'T3_2020 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('19 ', $$CORREZE$$, 'T3_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('21 ', $$COTE-D'OR$$, 'T3_2020 ', '6.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('22 ', $$COTES-D'ARMOR$$, 'T3_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('23 ', $$CREUSE$$, 'T3_2020 ', '8.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('24 ', $$DORDOGNE$$, 'T3_2020 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('25 ', $$DOUBS$$, 'T3_2020 ', '8.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('26 ', $$DROME$$, 'T3_2020 ', '9.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('27 ', $$EURE$$, 'T3_2020 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('28 ', $$EURE-ET-LOIR$$, 'T3_2020 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('29 ', $$FINISTERE$$, 'T3_2020 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2A ', $$CORSE-DU-SUD$$, 'T3_2020 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('2B ', $$HAUTE-CORSE$$, 'T3_2020 ', '9.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('30 ', $$GARD$$, 'T3_2020 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('31 ', $$HAUTE-GARONNE$$, 'T3_2020 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('32 ', $$GERS$$, 'T3_2020 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('33 ', $$GIRONDE$$, 'T3_2020 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('34 ', $$HERAULT$$, 'T3_2020 ', '12.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('35 ', $$ILLE-ET-VILAINE$$, 'T3_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('36 ', $$INDRE$$, 'T3_2020 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('37 ', $$INDRE-ET-LOIRE$$, 'T3_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('38 ', $$ISERE$$, 'T3_2020 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('39 ', $$JURA$$, 'T3_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('40 ', $$LANDES$$, 'T3_2020 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('41 ', $$LOIR-ET-CHER$$, 'T3_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('42 ', $$LOIRE$$, 'T3_2020 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('43 ', $$HAUTE-LOIRE$$, 'T3_2020 ', '7.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('44 ', $$LOIRE-ATLANTIQUE$$, 'T3_2020 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('45 ', $$LOIRET$$, 'T3_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('46 ', $$LOT$$, 'T3_2020 ', '8.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('47 ', $$LOT-ET-GARONNE$$, 'T3_2020 ', '8.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('48 ', $$LOZERE$$, 'T3_2020 ', '5.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('49 ', $$MAINE-ET-LOIRE$$, 'T3_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('50 ', $$MANCHE$$, 'T3_2020 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('51 ', $$MARNE$$, 'T3_2020 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('52 ', $$HAUTE-MARNE$$, 'T3_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('53 ', $$MAYENNE$$, 'T3_2020 ', '6.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('54 ', $$MEURTHE-ET-MOSELLE$$, 'T3_2020 ', '8.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('55 ', $$MEUSE$$, 'T3_2020 ', '8.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('56 ', $$MORBIHAN$$, 'T3_2020 ', '7.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('57 ', $$MOSELLE$$, 'T3_2020 ', '8.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('58 ', $$NIEVRE$$, 'T3_2020 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('59 ', $$NORD$$, 'T3_2020 ', '11.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('60 ', $$OISE$$, 'T3_2020 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('61 ', $$ORNE$$, 'T3_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('62 ', $$PAS-DE-CALAIS$$, 'T3_2020 ', '10.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('63 ', $$PUY-DE-DOME$$, 'T3_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('64 ', $$PYRENEES-ATLANTIQUES$$, 'T3_2020 ', '7.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('65 ', $$HAUTES-PYRENEES$$, 'T3_2020 ', '10.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('66 ', $$PYRENEES-ORIENTALES$$, 'T3_2020 ', '14.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('67 ', $$BAS-RHIN$$, 'T3_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('68 ', $$HAUT-RHIN$$, 'T3_2020 ', '9.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('69 ', $$RHONE$$, 'T3_2020 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('70 ', $$HAUTE-SAONE$$, 'T3_2020 ', '8.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('71 ', $$SAONE-ET-LOIRE$$, 'T3_2020 ', '7.8 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('72 ', $$SARTHE$$, 'T3_2020 ', '9.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('73 ', $$SAVOIE$$, 'T3_2020 ', '7.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('74 ', $$HAUTE-SAVOIE$$, 'T3_2020 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('75 ', $$PARIS$$, 'T3_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('76 ', $$SEINE-MARITIME$$, 'T3_2020 ', '10.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('77 ', $$SEINE-ET-MARNE$$, 'T3_2020 ', '7.9 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('78 ', $$YVELINES$$, 'T3_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('79 ', $$DEUX-SEVRES$$, 'T3_2020 ', '6.7 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('80 ', $$SOMME$$, 'T3_2020 ', '10.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('81 ', $$TARN$$, 'T3_2020 ', '9.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('82 ', $$TARN-ET-GARONNE$$, 'T3_2020 ', '10.1 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('83 ', $$VAR$$, 'T3_2020 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('84 ', $$VAUCLUSE$$, 'T3_2020 ', '11.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('85 ', $$VENDEE$$, 'T3_2020 ', '7.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('86 ', $$VIENNE$$, 'T3_2020 ', '7.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('87 ', $$HAUTE-VIENNE$$, 'T3_2020 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('88 ', $$VOSGES$$, 'T3_2020 ', '9.5 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('89 ', $$YONNE$$, 'T3_2020 ', '8.2 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('90 ', $$TERRITOIRE DE BELFORT$$, 'T3_2020 ', '10.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('91 ', $$ESSONNE$$, 'T3_2020 ', '7.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('92 ', $$HAUTS-DE-SEINE$$, 'T3_2020 ', '7.3 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('93 ', $$SEINE-SAINT-DENIS$$, 'T3_2020 ', '12.0 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('94 ', $$VAL-DE-MARNE$$, 'T3_2020 ', '8.4 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('95 ', $$VAL-D'OISE$$, 'T3_2020 ', '9.6 ');
INSERT INTO UnemprateKS.UnempRT (Code, Libelle, Trimyear, rate) VALUES ('971 ', $$GUADELOUPE$$, 'T3_2020 ', '18.6 ');